# Monorepo
apps/*/credentials.json
apps/*/build
packages/*/build

# Turborepo
.turbo

# Expo
.expo/
__generated__
dist/
web-build/

# macOS
.DS_Store

# Node
node_modules
npm-debug.*
yarn-debug.*
yarn-error.*
package-lock.json

# Ruby
.direnv

# Emacs
*~

# Vim
.*.swp
.*.swo
.*.swn
.*.swm

# Sublime Text
*.sublime-project
*.sublime-workspace

# Xcode
*.pbxuser
!default.pbxuser
*.xccheckout
*.xcscmblueprint
xcuserdata

# JetBrains
*.iml
.gradle
.idea

# Eclipse
.project
.settings

# VSCode
.history/
.vscode/settings.json

# Env files
.env

# Python
.venv
__pycache__
.ruff_cache
